<%- include('../partials/header') %>
<a href="/">Home</a>
<h1>Skills</h1>
<ul>
  <% skills.forEach(function(t) { %>
    <li>
      <a href="/skills/<%= t.id %>"><%= t.skill %></a>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add New Skill</a>
<%- include('../partials/footer') %>
