body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00B7FF;
}

.skill-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-form {
  display: inline-block;
  margin-bottom: 10px;
}
	
.delete-form button {
  color: red;
  font-size: 15px;
  border-radius: 50%;
  border: none;
  background-color: lightgrey;
}
	
li {
  list-style: none;
}

